.footer-div {
  padding: 56px 96px;
}
.footer-div-1 {
  width: 955px;
  height: 286px;
  background: #262424;
  border-radius: 8px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-div-1 h1 {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.footer-div-1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}
.footer-div-1 button {
  color: white;
  background: #c9a26b;
  padding: 0px 10px;
  width: 290px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}
.footer-list {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 1fr;
  grid-gap: 20px;
}
.footer-list div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 20px;
}
.footer-list div h5 {
  margin: 0;
}
.footer-list p {
  color: rgba(36, 35, 34, 0.7);
}

.footer-list-a p {
  padding-right: 100px;
}
.footer-list-a img {
  height: 50px;
  margin: 0;
}
.footer-div-3 {
  color: rgba(36, 35, 34, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr {
  border: 1px solid #ecedef;
}
