body {
  font-family: "Mulish", sans-serif;
  background-color: White;
}
.Hero-section {
  height: 700px;
  display: flex;
  padding: 70px 150px 50px;
  background: #fbfffa;
}
.Hero-section-a {
  width: 60%;
  display: inline-block;
}
.Hero-section-b {
  width: 40%;
  display: inline-block;
}
.Hero-section-h1 h1 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 150%;
  color: #242322;
}
.Hero-section-h1 h1 span {
  color: #04b45c;
}
.Hero-section-p p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(36, 35, 34, 0.7);
}

.Hero-section-btns a:nth-child(2) {
  margin-left: 25px;
}
.trusted {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 760px;
}
.trusted p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: rgba(36, 35, 34, 0.7);
}
.Hero-section-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 700px;
  left: 215px;
}

.Hero-section-imgs img {
  position: absolute;
  box-sizing: border-box;
  height: 48px;
}
.Hero-section-b img {
  height: 700px;
}

.Section1 {
  /* height: 700px; */
  padding: 30px 100px;
  background-color: White;
}

.Section1a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.Section1a h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #242322;
}
.Section1a p {
  align-self: center;
  width: 700px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(36, 35, 34, 0.7);
}
.Section1b {
  display: flex;
  flex-wrap: wrap;
}
.Section1b div {
  flex-basis: calc(33.33% - 10px); /* 33.33% minus any additional spacing */
  margin-right: 10px; /* Additional spacing between items */
  margin-bottom: 10px;
}
.Section2 {
  padding: 30px 100px;
  background-color: #fcfbfb;
}
.Section2b {
  display: flex;
  flex-wrap: wrap;
}
.card2 {
  height: 536px;
  width: 357px;
  flex-basis: calc(33.33% - 10px); /* 33.33% minus any additional spacing */
  margin-right: 10px; /* Additional spacing between items */
  margin-bottom: 10px;
}
.card2 div:nth-child(1) {
  height: 60%;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card2a div:nth-child(1) {
  background: linear-gradient(90deg, #00416a 0%, #e4e5e6 100%);
}
.card2b div:nth-child(1) {
  background: linear-gradient(90deg, #649173 0%, #dbd5a4 100%);
}
.card2c div:nth-child(1) {
  background: linear-gradient(90deg, #bbd2c5 0%, #536976 100%);
}
.card2 div:nth-child(1) img {
  width: 220px;
  height: 286px;
}
.card2 div:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  gap: 17px;
  z-index: 2;
  height: 40%;
  background: #ffffff;
  border: 1px solid #f1f1f1;
}
.card2 div:nth-child(2) h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #242322;
}
.card2 div:nth-child(2) p {
  width: 301px;
  height: 63px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgba(36, 35, 34, 0.7);
}
.Section3 {
  padding: 56px 100px;
}
.Section3 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-align: left;
  color: #242322;
}
.listdiv {
  display: flex;
  flex-wrap: wrap;
}
.listdiv div {
  flex-basis: calc(33.33% - 30px); /* 33.33% minus any additional spacing */
  margin-right: 10px; /* Additional spacing between items */
  margin-bottom: 10px;
}
@media screen and (max-width: 1500px) {
  .Hero-section {
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 50px;
    background: #fbfffa;
    justify-content: center;
    align-items: center;
  }
  .Hero-section-a {
    width: 100%;
    display: block;
  }
  .Hero-section-h1 h1 {
    font-size: 24px;
    text-align: center;
  }
  .Hero-section-p p {
    font-size: 16px;
    text-align: center;
  }
  .Hero-section-btns {
    display: flex;
    justify-content: center;
  }
  .Hero-section-btns a {
    margin: 0px 10px;
  }
  .Hero-section-b {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .Hero-section-b img {
    height: 400px;
  }

  .Hero-section-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1040px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
  }

  .Hero-section-imgs img {
    height: 48px;
  }
  .trusted {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1080px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
  }
  .trusted p {
    font-size: 14px;
    text-align: center;
  }

  .Section1 {
    padding: 20px;
    background-color: White;
  }

  .Section1a {
    text-align: center;
    padding: 32px;
  }
  .Section1a h1 {
    font-size: 18px;
  }
  .Section1a p {
    font-size: 16px;
    width: fit-content;
    max-width: 500px;
  }
  .Section1b {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .Section1b div {
    flex-basis: calc(0); /* 33.33% minus any additional spacing */
    margin-right: 10px; /* Additional spacing between items */
    margin-bottom: 10px;
  }
  .Section2 {
    padding: 30px 20px;
    background-color: #fcfbfb;
  }
  .Section2b {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .card2 {
    flex-basis: calc(0); /* 33.33% minus any additional spacing */
    margin-right: 0px; /* Additional spacing between items */
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .card2 div:first-child {
    height: 60%;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .card2a div:nth-child(1) {
    background: linear-gradient(90deg, #00416a 0%, #e4e5e6 100%);
  }
  .card2b div:nth-child(1) {
    background: linear-gradient(90deg, #649173 0%, #dbd5a4 100%);
  }
  .card2c div:nth-child(1) {
    background: linear-gradient(90deg, #bbd2c5 0%, #536976 100%);
  }
  .card2 div:nth-child(1) img {
    width: 220px;
    height: 286px;
  }
  .card2 div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    gap: 17px;
    z-index: 2;
    height: 40%;
    background: #ffffff;
    border: 1px solid #f1f1f1;
  }
  .card2 div:nth-child(2) h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #242322;
  }
  .card2 div:nth-child(2) p {
    width: 301px;
    height: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(36, 35, 34, 0.7);
  }
}
